$sidebar-bg-color: #000 !default;
$sidebar-color: #000 !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #c4c4c4 !default;
$submenu-bg-color: #5b5b5b !default;
$submenu-bg-color-collapsed: #5b5b5b !default;
$icon-bg-color: #000 !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

.sidebar-btn-wrapper{
  display: flex;
  justify-content: center;
}

.sidebar-btn{
  text-align: center;
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #adadf7;
  }
}

.pro-sidebar-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.pro-sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

@import '~react-pro-sidebar/dist/scss/styles.scss';